.body {
  background-color: rgb(241, 252, 225);
  color: black;
  font-family: "arial";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
